.footer {
    padding: 50px 0;
    background-color: $color-black;
    color: #d1d1d1;

    &__inner {
        display: grid;
        column-gap: 80px;
        grid-template-columns: 180px 1fr;
        @media (max-width: $width-pc) {
            column-gap: 40px;
        }
        @media (max-width: $width-mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__contact {
        @media (max-width: $width-mobile) {
            display: flex;
            flex-direction: column;
        }
        .logo {
            margin-bottom: 10px;
        }
    }
    &__contact-body {
        margin-bottom: 30px;
        width: 100%;
        max-width: 151px;
        @media (max-width: $width-mobile) {
            margin-bottom: 50px;
        }
    }
    &__contact-description {
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        color: #ffffff;
    }
    &__socials-list {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        max-width: 180px;
        @media (max-width: $width-mobile) {
            margin-bottom: 30px;
            order: -1;
        }
    }

    &__socilas-item {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #5fc6c1;
        border-radius: 50%;
        cursor: pointer;
    }
    &__page-navigation {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: $width-tablet) {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 75px;
            justify-content: center;
        }
        @media (max-width: $width-tablet-small) {
            grid-template-columns: auto;
        }
        @media (max-width: $width-mobile) {
            row-gap: 73px;
            margin-bottom: 30px;
            justify-content: start;
            order: -1;
        }
    }

    &__page-item {
    }

    &__section {
    }

    &__title {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 160%;
        color: #ffffff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #d1d1d1;
        transition: color 0.2s ease;
        &:hover {
            color: #ffffff;
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 6px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        grid-column: 1/-1;
        @media (max-width: $width-mobile) {
            font-family: $font-inter;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
