.intro {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 530px 1fr;
    align-items: center;
    @media (max-width: $width-tablet) {
        margin-top: 0;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @media (max-width: $width-tablet) {
            margin: 0 auto 30px;

            max-width: 450px;
        }
        @media (max-width: $width-mobile) {
            padding: 27px 0 0 27px;
        }
    }
    .section__body {
        @media (max-width: $width-tablet) {
            display: flex;
            flex-direction: column;
            order: 1;
            .button {
                align-self: center;
            }
        }
    }
    @media (max-width: $width-tablet) {
        grid-template-columns: 1fr;
    }
    @media (max-width: $width-mobile-medium) {
        .button {
            width: 100%;

            text-align: center;
        }
    }
}
.section {
    margin-bottom: 150px;
    @media (max-width: $width-pc) {
        margin-bottom: 100px;
    }
    @media (max-width: $width-tablet) {
        margin-bottom: 80px;
    }
    &__body {
    }

    &__title {
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        @media (max-width: $width-pc) {
            font-size: 32px;
            line-height: 40px;
        }
        @media (max-width: $width-mobile) {
            font-size: 24px;
            line-height: 33px;
        }
        &--small {
            font-size: 34px;
            line-height: 44px;
            @media (max-width: $width-pc) {
                font-size: 28px;
                line-height: 36px;
            }
            @media (max-width: $width-mobile) {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
    &__accent {
        background: linear-gradient(91.57deg, #10a399 41.15%, #32d3c9 85.26%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__text {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 160%;
        @media (max-width: $width-mobile) {
            font-size: 16px;
            line-height: 150%;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.partners {
    .section__title {
        text-align: center;
    }
    &__list {
        margin-top: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 46px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media (max-width: $width-tablet) {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 90px;
            justify-content: center;
        }
        @media (max-width: $width-mobile) {
            margin-top: 30px;
            column-gap: 19px;
            row-gap: 10px;
        }
        @media (max-width: $width-mobile-small) {
            grid-template-columns: 1fr;
        }
    }
}
.about {
    &__header {
        margin-bottom: 88px;
        display: grid;
        grid-template-columns: 480px minmax(auto, 581px);
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
        @media (max-width: $width-pc) {
            margin-bottom: 75px;
        }
        @media (max-width: $width-tablet) {
            margin-bottom: 50px;
        }
    }
    .section__text {
        margin-bottom: 0;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @media (max-width: $width-tablet) {
            gap: 40px;
            grid-template-columns: minmax(auto, 280px) minmax(auto, 280px);

            justify-content: center;
        }
        @media (max-width: $width-mobile) {
            grid-template-columns: 1fr;
        }
    }
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            margin-bottom: 15px;
            @media (max-width: $width-mobile) {
                width: 100px;
                height: 100px;
            }
        }
        h3 {
            max-width: 93%;
            margin-bottom: 5px;

            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: $color-green;

            text-align: center;
            @media (max-width: $width-mobile) {
                max-width: unset;
                font-size: 19px;
                line-height: 25px;
            }
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
            text-align: center;
            @media (max-width: $width-mobile) {
                max-width: 81%;
                font-size: 15px;
            }
        }
    }
    @media (max-width: $width-tablet) {
        &__header {
            grid-template-columns: 1fr;
        }
        .section__title {
            width: 100%;
            max-width: 550px;
        }
    }
}

.services {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 610px) 480px;
    justify-content: space-between;
    column-gap: 50px;
    @media (max-width: $width-tablet) {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    @media (max-width: $width-mobile) {
        padding: 0;
    }
    .section__body {
        @media (max-width: $width-tablet) {
            display: flex;
            flex-direction: column;
            .button {
                align-self: center;
            }
        }
        @media (max-width: $width-mobile) {
            padding: 0 16px;
        }
        @media (max-width: $width-mobile-medium) {
            .button {
                width: 100%;

                text-align: center;
            }
        }
    }
    .section__img {
        border-radius: 30px;
        @media (max-width: $width-pc) {
            border-radius: 20px;
        }
        @media (max-width: $width-tablet) {
            margin: 0 auto;
            max-width: 650px;
        }
        @media (max-width: $width-mobile) {
            border-radius: 0;
        }
    }
    .section__text {
        @media (max-width: $width-mobile) {
            margin-bottom: 15px;
        }
    }
}
.experts {
    display: grid;
    align-items: center;
    grid-template-columns: 575px minmax(auto, 463px);
    justify-content: space-between;
    column-gap: 50px;
    @media (max-width: $width-tablet) {
        grid-template-columns: 1fr;
    }
    .section__img {
        @media (max-width: $width-tablet) {
            margin: 0 auto 40px;
            order: -1;
            max-width: 450px;
        }
        @media (max-width: $width-mobile) {
            padding: 0 24px;
        }
    }
    .section__body {
        @media (max-width: $width-tablet) {
            display: flex;
            flex-direction: column;
            .button {
                align-self: center;
            }
        }
        @media (max-width: $width-mobile-medium) {
            .button {
                width: 100%;

                text-align: center;
            }
        }
    }
    .section__text {
        @media (max-width: $width-mobile) {
            margin-bottom: 15px;
        }
    }
}
.market {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 575px;
    column-gap: 35px;
    @media (max-width: $width-tablet) {
        grid-template-columns: 1fr;
    }
    .section__img {
        @media (max-width: $width-tablet) {
            margin: 0 auto 30px;
            order: -1;
            max-width: 450px;
        }
    }
    .section__body {
        @media (max-width: $width-tablet) {
            display: flex;
            flex-direction: column;
            .button {
                align-self: center;
            }
        }
        @media (max-width: $width-mobile-medium) {
            .button {
                width: 100%;

                text-align: center;
            }
        }
    }
    .section__text {
        @media (max-width: $width-mobile) {
            margin-bottom: 15px;
        }
    }
}
.reviews {
    @media (max-width: $width-pc) {
        margin-bottom: 84px;
    }
    @media (max-width: $width-tablet) {
        margin-bottom: 64px;
    }
    @media (max-width: $width-mobile) {
        padding: 0;
    }
    .section__body {
        margin: 0 auto;
        max-width: 596px;
        @media (max-width: $width-mobile) {
            padding: 0 16px;
        }
    }
    .section__title--small {
        text-align: center;
        @media (max-width: $width-mobile) {
            margin: 0 auto 20px;
            max-width: 85%;
        }
    }
    .section__text {
        margin-bottom: 34px;
        font-family: $font-inter;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 150%;

        text-align: center;
        @media (max-width: $width-mobile) {
            font-size: 15px;
            line-height: 160%;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        @media (max-width: $width-tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $width-tablet-small) {
            grid-template-columns: 1fr;
        }
    }

    .button {
        margin: 38px auto 0;
    }

    &__head {
        margin-bottom: 30px;
        display: flex;
        column-gap: 7px;
        align-items: center;
        @media (max-width: $width-mobile) {
            margin-bottom: 20px;
        }
        cite {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: $color-green;
        }
    }
    &__blockquote {
        padding: 30px 30px 45px;

        background: #fcfcfc;

        box-shadow: 4px 4px 16px rgba(52, 52, 52, 0.25);
        border-radius: 20px;

        @media (max-width: $width-mobile) {
            padding: 15px 25px;
        }
    }
    &__avatar {
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        @media (max-width: $width-tablet) {
            display: none;
        }
    }
}
.subscribe {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 580px) 480px;
    column-gap: 50px;
    justify-content: space-between;
    @media (max-width: $width-tablet) {
        grid-template-columns: 1fr;
        .section__body {
            margin: 0 auto;
            max-width: 600px;
        }
    }
    @media (max-width: $width-mobile) {
        .section__title {
            font-size: 32px;
            line-height: 44px;
        }
        .section__text {
            font-size: 19px;
            line-height: 150%;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        @media (max-width: $width-tablet) {
            align-items: center;
        }
    }
    input {
        width: 100%;
        max-width: 380px;
        margin-bottom: 15px;
        padding: 11px 20px;
        border: 2px solid #c0c0c0;
        border-radius: 10px;

        font-weight: 400;
        font-size: 18px;
        line-height: 160%;

        color: #d1d1d1;
    }
    &__wrapper {
        display: flex;
        justify-content: start;
    }
    .button {
        margin-top: 5px;
        border: none;
        cursor: pointer;
        @media (max-width: $width-mobile) {
            margin-top: 15px;
        }
    }
    .section__img {
        @media (max-width: $width-tablet) {
            margin: 0 auto 40px;
            max-width: 450px;
        }
    }
    .section__body {
        @media (max-width: $width-tablet) {
            display: flex;
            flex-direction: column;
            .button {
                align-self: center;
            }
        }
        @media (max-width: $width-mobile-medium) {
            .button {
                width: 100%;

                text-align: center;
            }
        }
    }
    .section__text {
        margin-bottom: 15px;
        @media (max-width: $width-mobile) {
            margin-bottom: 30px;
        }
    }
    &--mobile {
        display: none;
        @media (max-width: $width-mobile) {
            display: block;
        }
    }
    &--pc {
        display: block;
        @media (max-width: $width-mobile) {
            display: none;
        }
    }
}
